@page "/"
@using TypingFast.Services

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div>
    <h2>Words</h2>
    @if (_words == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        @foreach (var word in _words)
        {
            <span class="px-1">@word</span>
        }
    }
</div>
<button @onclick="NewTest" class="btn btn-primary">new</button>

@code
{
    private string[]? _words;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var wordsService = new WordsService();
        _words = wordsService.GetWords(10);
    }

    private void NewTest()
    {
        var wordsService = new WordsService();
        _words = wordsService.GetWords(10);
    }
}
