@page "/"
@using TypingFast.Services

<PageTitle>Home</PageTitle>


<div class="d-flex flex-column p-2">
    <h2>Words</h2>
    <div>

        @if (_words == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            @foreach (var word in _words)
            {
                <span class="px-1">@word</span>
            }
        }
    </div>
    <div>
        <input type="text" class="input"/>
    </div>
</div>
<button @onclick="NewTest" class="btn btn-primary">new</button>

@code
{
    private string[]? _words;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var wordsService = new WordsService();
        _words = wordsService.GetWords(10);
    }

    private void NewTest()
    {
        var wordsService = new WordsService();
        _words = wordsService.GetWords(10);
    }
}
