:root {
    --tf-light: #F5F0FD;
    --tf-accent: #E5D5FA;
    --tf-prime: #8F4CEC;
    --tf-dark: #161E2C;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--tf-light);
    color: var(--tf-dark);

}

/* dark-mode.css */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.tf-rounded {
      border-radius: 5px;
}
.tf-border {
    border: 3px solid var(--tf-dark);
}
.tf-btn {
    background-color: var(--tf-prime);
}
.tf-navbar {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid green;*/
}
.tf-navbar-container {
    /*border: 1px solid red;*/
    display: flex;
    gap: 10px;
}
.tf-nav-link {
    text-decoration: none;
    color: var(--tf-dark);
    padding: 5px;
    background-color: var(--tf-accent);
}
.tf-nav-link.active {
    background-color: var(--tf-prime);
    color: var(--tf-light)
}
.tf-display {
    background-color: #fff;
}
.tf-debug {
    position: fixed;
    bottom: 0;
    right: 0;
}
.tf-input {
    border: 3px solid var(--tf-dark);
    border-radius: 5px;
    padding: 3px;
    box-shadow: none;
}

.test-input-container {
    display: flex;
    gap: 5px;
    justify-content: center;
}