@using TypingFast.Components
<nav class="tf-navbar" aria-label="Main navigation">
    <div class="tf-navbar-container">
        <NavLink class="tf-nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="tf-nav-link" href="counter">Counter</NavLink>
        <NavLink class="tf-nav-link" href="weather">Weather</NavLink>
        <DarkModeToggler/>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}