@using TypingFast.Models
@using TypingFast.Services
<div class="d-flex flex-column gap-2">
    <WordDisplay Test="@_test"/>

    <div>
        <input type="text"
               class="input @(_test.InputError ? "bg-danger-subtle" : "")"
               @oninput="HandleInput"/>

        <button @onclick="NewTest" class="btn btn-primary">new</button>
    </div>
    <div>
        @CurrentInput
    </div>
</div>

@code{

    private TypingTest _test = new(new WordsService());
    private string CurrentInput { get; set; } = "";


    private void NewTest()
    {
        _test.Restart();
    }


    private void HandleInput(ChangeEventArgs obj)
    {
        CurrentInput = obj.Value?.ToString() ?? "";
        _test.CheckWord(CurrentInput);
    }

}
