@using TypingFast.Models
@using TypingFast.Services
<h3>TypingTestComponent</h3>


<div class="d-flex flex-column p-2">
    <WordDisplay Test="@_test"/>
    <div>
        <input type="text" class="input"/>
    </div>
</div>
<button @onclick="NewTest" class="btn btn-primary">new</button>

@code{

    private TypingTest _test = new(new WordsService());


    private void NewTest()
    {
        _test.Restart();
    }

}
