@using TypingFast.Models
<div class="border-1 border border-primary word-display p-2">
    @foreach (var word in Test.GetWords())
    {
        <span class="px-1">@word</span>
    }
</div>

@code {
    [Parameter] public required TypingTest Test { get; set; }
}