@using TypingFast.Models
<div class="tf-border tf-rounded tf-display">
    @foreach (var word in Test.GetWords().Select((w, i) => new { Word = w, Index = i }))
    {
        var cssClass = "px-1 ";
        if (Test.CurrentIndex == word.Index && Test.Status == TypingTestStatus.Started)
        {
            cssClass += Test.InputError ? "bg-danger " : "bg-dark-subtle ";
        }
        
        cssClass += Test.WrongIndexes.Contains(word.Index) ? " text-danger" : "";
        <span class="@cssClass">@word.Word</span>
    }
</div>

@code {
    [Parameter] public required TypingTest Test { get; set; }

}